<section class=map-view>
  <p>[Fancy map with markers and details on hover]
</section>

<section class=list-view>

  <button ng-click="sortPrice()">Price</button>
  <button ng-click="sortLatest()">Latest</button>
  <button ng-click="sortRating()">Rating</button>

  <ul class="properties">
    <li ng-repeat="property in hunt.properties">
      <img ng-src="property.photos[0].src">
      <h2>
        <a ui-sref="hunt.property({propertyID: property.id})">
          {{property.name}}
        </a>
      </h2>
      <p>[Minimap with marker on {{property.location.latitude}},
    {{property.location.longitude}}]

      <dl>
        <dt>enquired
        <dd>{{property.enquired}}
        <dt>agentReplied
        <dd>{{property.agentReplied}}
        <dt>viewed
        <dd>{{property.viewed}}
        <dt>liked
        <dd>{{property.liked}}
        <dt>disliked
        <dd>{{property.disliked}}
      </dl>
  </ul>
</section>
