<button ng-click="sortPrice()">Price</button>
<button ng-click="sortLatest()">Latest</button>
<button ng-click="sortRating()">Rating</button>

<ul class="properties">
  <li ng-repeat="property in hunt.properties">
    <img ng-src="property.photos[0].src">
    <h2>
      <a ui-sref="hunt.property({propertyID: property.id})">
        {{property.name}}
      </a>
    </h2>
    <p>[Minimap with marker on {{property.location.latitude}},
  {{property.location.longitude}}]
</ul>

<section class="pipeline">
  <ul class="found">
    <li>
  </ul>
  <ul class="inquired">
    <li>
  </ul>
  <ul class="agentReplied">
    <li>
  </ul>
  <ul class="appointment">
    <li>
  </ul>
  <ul class="liked">
    <li>
  </ul>
  <ul class="disliked">
    <li>
  </ul>
  <ul class="unavailable">
    <li>
  </ul>
</section>
