@mixin calc($property, $expression)
  #{$property}: -moz-calc(#{$expression})
  #{$property}: -o-calc(#{$expression})
  #{$property}: -webkit-calc(#{$expression})
  #{$property}: calc(#{$expression})

*
  box-sizing: border-box

body

google-map
  position: absolute
  height: 100%
  width: 100%

.properties-view
  overflow: hidden

  .gallery
    position: absolute
    width: 50%
    height: 100%
    top: 0
    right: 0
    overflow-y: scroll
    img
      width: 100%
      display: block

  google-map
    position: absolute
    height: 50%
    width: 50%
    bottom: 0
    left: 0

main
  background-color: #eee

  position: absolute
  top: 50px
  right: 0

  +calc(width, '100% - 200px')
  +calc(height, '100% - 50px')

aside
  background-color: #222

  position: absolute
  top: 50px
  left: 0

  width: 200px
  +calc(height, '100% - 50px')


aside
  padding: 10px
  .btn-group-vertical
    width: 100%
    margin-bottom: 10px

property-card
  img
    max-width: 100px
    max-height: 100px

.fa.fa-cog.fa-5x.center
  position: absolute
  top: 50%
  left: 50%
  margin:
    left: -30px
    top: -36px
